@media screen and (max-width: 320px) {
    body, html {
        font-size: 14px;
    }
}

@media screen and  (min-width: 321px) and (max-width: 500px) {
    body, html {
        font-size: 16px;
    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    body, html {
        font-size: 18px;
    }
}

body, html ,body > div#main,body > div#main >div,body > div#main >div >div{
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei', Arial;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html, body, section, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0px;
    padding: 0px;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

ul, ol {
    list-style: none;
}

.window_boundingBox .content_wrapper {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    background-color: #fff;
}

header {
    height: 3.2rem;
    width: 100%;
    background-color: #F8F8F8;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.backApp {
    background-image: url("./img/back.png");
    width: 90px;
    height: 100%;
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: 17px center;
}
.title {
    -webkit-box-flex: 1;
}
header >div:last-child {
    width: 90px;
    height: 100%;
}
.mp-faq {
    -webkit-box-flex: 1;
    height: 100%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-image: url("./img/faqHd.png");
    background-position: 15px center;
}
.share {
    -webkit-box-flex: 1;
    height: 100%;
    background-size: 23px;
    background-repeat: no-repeat;
    background-image: url("./img/shareHd.png");
    background-position: 5px center;
}

section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.box {
    display: -moz-box;
    display: -o-box;
    display: box;
    display: -webkit-box;

    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;

    text-align: center;
}

.-box-align-end {
    display: -moz-box;
    display: -o-box;
    display: box;
    display: -webkit-box;

    -moz-box-align: end;
    -webkit-box-align: end;
    -o-box-align: end;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;

    text-align: center;
}

.verticalBox {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
}

.hidec {
    display: none;
}

.visible {
    visibility: hidden;
}

#mainPage, #faq, #stateMainPage, #problemMainPage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


.slider-enter {
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    width: 100%;
    height: 100%;
    transition: transform .7s ease;
    -webkit-transition: all .7s ease;
}

.slider-enter.slider-enter-active {
    transform: translate3d(0%,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slider-leave {
    transform: translate3d(0%,0,0);
    -webkit-transform: translate3d(0%,0,0);
    width: 100%;
    height: 100%;
    transition: transform .7s ease;
    -webkit-transition: all .7s ease;
}

.slider-leave.slider-leave-active {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}

.link-active {
    color: #bbbbbb;
    text-decoration: none;
}

.sliderOut-enter {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    width: 100%;
    height: 100%;
    transition: transform .7s ease;
    -webkit-transition: all .7s ease;
}

.sliderOut-enter.sliderOut-enter-active {
    transform: translate3d(0%,0,0);
    -webkit-transform: translate3d(0%,0,0);
}

.sliderOut-leave {
    transform: translate3d(0%,0,0);
    -webkit-transform: translate3d(0%,0,0);
    transition: transform .7s ease;
    width: 100%;
    height: 100%;
    -webkit-transition: all .7s ease;
}

.sliderOut-leave.sliderOut-leave-active {
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}